# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.obj
*.lib
*.sdf
*.suo
*.opensdf
*.dll
*.user
*.dblite
*.filters

bin
obj
Debug
Release
*.Debug
*.Release
*Makefile*
